.diffWidget {
  padding: 5px;
  -webkit-box-flex: 1;
}

.diffWidget .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
}

.diffWidget .first {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: .85;
  -webkit-box-flex: 1;

}

.diffWidget .second {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  border-radius: 10px;
  -webkit-box-flex: 1;
}

html {
    margin:    0 ;
    max-width: 900px;
    background: url(images/backgorund.png) no-repeat center center fixed;
}
body
{
    width: 100%; 
    text-align: left; 
    background-color: #b0c4de;
    margin: 0;
    height:100%;
    padding: 0;
    z-index: 2;

  }   

#right {
    width: 80%;
    height: auto;
    margin-bottom: 0px;
    outline: 0px solid;
    position: absolute;
    right: 0;
    background: white;
    border: 0;

}

#right #content {
    width: 97%;
    height: 100%;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 10px;
    outline: 0px solid;
    position: relative;
    right: 0;
    background-color: white;
    border: 0;

}


#left {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgba(18,18,18,.95);
    margin-left: auto;
    margin-right: auto;
}

.effect img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.effect:hover img.image {
    display: none;
}

.effect img.hover {
    display: none;
}

.effect:hover img.hover {
    display: block;
}

#left h3 {
  text-align: center;
  font-size: 1em;
  font-family: "Lucida Console", monospace;
  color: white;
  font-weight: normal;
  margin-bottom: .5em;
  

  }

#left h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: .7em;
  font-weight: normal;
  margin-top: 0.1em;
  margin-left: 15%;
  margin-right: 15%;
  position: middle;
  word-wrap: break-word;

  }

h1 { 
    display: block;
    font-size: 1.3em;
    font-family: "Courier New", Courier, monospace;
    margin-top: 0.4em;
    margin-bottom: 0.67em;
    margin-left: 30px;
    margin-right: 0;
    font-weight: normal;
    text-align: left; 
    color: white;

}
h2 { 
    display: block;
    font-size: 1em;
    font-family: "Andale Mono", monospace; 
    margin: 0.67em;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: yellow;
}

#right h3 { 
    display: block;
    font-size: 1em;
    margin-top: 0em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: black;
}

#right #titulo {
        border: 1px #b0c4de;
        background-color: rgba(252, 72, 25, .8); 
        width: 100%;
        position: fixed;
        margin-top: 0;
        text-align: left;
        z-index: 4;
      
    }

#right #big_wrapper { 
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 30px; 
    border: 1px solid black;
    padding: 20px 40px 0px 40px;


  }


#right #big_wrapper #textintro { 
    
    border: 0px solid black;
    width: auto;
    margin-top: 1px;
    margin-left: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 25px;
    height: auto;
  }

#renovacion {
  width: 100%;
  border: 1px solid gray;
  border-radius: 0px;
  background: rgba(209, 27, 0, .1);
  border-style: dashed;
}


#renovacion h1{
color: white;
text-align: center;
font-size: 1.5rem;
letter-spacing: .5rem;
margin: 0px 0px -10px 0px;
height: 30px;
background-color: rgba(209, 27,0, .7);
border-radius: 10px 10px, 0 , 0;

}

#renovacion table{
color: black;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: .9rem;
border-spacing: 9px;
font-weight: normal;
}

#renovacion th{
color: black;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: .9rem;
border-spacing:0;
font-weight: 2000;
text-align: right;

}



#deterioro {
 width: 100%;
  border: 1px solid gray;
  border-radius: 0px;
  background: rgba(209, 27, 0, .1);
  border-style: dashed;
}

#ex {
      
      border: 1px rgba(20, 20, 20, .5) ;
      display: -webkit-box;
      -webkit-box-orient:horizontal;


}

 #ex1, #ex2, #ex3, #ex4, #ex5, #ex6, #ex7 {
      border: 1px rgba(20, 20, 20, .5) ;
      border-style: dashed;
      background-color: rgba(20, 20, 20, .0);
      margin: 15px;
      padding: 10px;
      border-radius: 5px;      
      width: 70%;
      height: auto;
}



#right #texto-derecha {
      background-color: rgba(20, 20, 20, .0);
      width:120px;
      padding: 20px;
      margin: 10px 0;
      margin-top: 100px;
      border-radius: 3px;
      height: 100%;
      border: 1px solid rgba(20, 20, 20, 1) ;
      border-style: dotted;
      position: center;
  
}



#left nav.vertical {
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
  display: inline-block; 
  width: 100%; 
  margin-top: 50px;
  margin-left: 0px;
  padding: 0px;
  float: left;
}

#left nav.vertical > ul {
    list-style-type: none;
  }

#left nav.vertical > ul > li {
      display: block;
    }

#left nav.vertical > ul > li > a {
  background-image: -webkit-linear-gradient(150deg, rgba(20, 20, 20, .3), rgba(20, 20, 20, .3));
  border-bottom: 1px solid rgba(255,255,255,.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
  color: rgba(255,255,255, .6);
  display: block;
  font-size: .85rem;
  font-weight: 500;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: .5rem;
  padding-left: 10px;
  line-height: 50px;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-transform: uppercase;
  transition: all .1s ease;
  text-decoration: none;
}

#left nav.vertical > ul > li > a:hover {
    background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -moz-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -o-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8)); 
    cursor: default;
  }


#right nav.horizontal >ul {
  list-style-type: none;
  margin-bottom: 15px;
  padding: 0;
  }

#right nav.horizontal > ul > li{
  display: inline;
  }

#right nav.horizontal > ul > li > a{
  text-decoration: none; 
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding: .2em 1em;
  color: #fff;
  background-color: gray;
  font-family: "Courier New", Courier, monospace;
  font-size: .85rem;
  border-radius: 10px;

  }

#right nav.horizontal > ul > li > a:hover{
color: #fff;
background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -moz-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -o-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8)); 
    cursor: move;
}


  


#right #mapc {
margin-top: 45px;
margin-bottom: 0%;
  }


/* taken from http://alijafarian.com/responsive-image-grids-using-css/ */
ul.rig.columns-2 li img.img1 {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

ul.rig.columns-2 li img.hover {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

ul.rig.columns-2 li:hover img.img1 {
    display: none;
}

ul.rig.columns-2 li img.hover {
    display: none;
}

ul.rig.columns-2 li:hover img.hover {
    display: block;
}



ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */

}
ul.rig li {
  display: inline-block;
  padding: 5px;
  margin: 0 0 2.5% 2.5%;
  background: white;
  border: 1px solid #ddd;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0 0 5px #ddd;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}
ul.rig li h3 {
  margin: 0 0 5px;
}
ul.rig li p {
  font-size: .9em;
  line-height: 1.5em;
  color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 0px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 0px;
  }
}

#footer_wrap {bottom:0; position:fixed; background-color: rgba(20, 20, 20, .8); width: 20%; }
#footer_wrap #footer { float: right; margin-top:5px;}
#footer_wrap #footer ul { padding:5px; margin:0 0 0 1px; float:right; width:100%;}
#footer_wrap #footer li {float:right; list-style:none; display: table-cell; width: 35px; text-align: center; margin: 0}