.diffWidget {
  padding: 5px;
}

.diffWidget .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.diffWidget .first {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  left: 0;

}

.diffWidget .second {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

html {
    margin:    0 ;
    max-width: 900px;
    background: url(images/backgorund.png) no-repeat center center fixed;
}
body
{
    width: 100%; 
    text-align: left; 
    background-color: #b0c4de;
    margin: 0;
    height:100%;
    padding: 0;

  }   

#right {
    width: 80%;
    height: auto;
    outline: 1px solid;
    position: absolute;
    right: 0;
    background: white;
    border: 0;

}

#left {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: rgba(18,18,18,.95);
    margin-left: auto;
    margin-right: auto;
}

#left .effect img.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#left .effect:hover img.image {
    display: none;
}

#left .effect img.hover {
    display: none;
}

#left .effect:hover img.hover {
    display: block;
}

#left h3 {
  text-align: center;
  font-size: 1em;
  font-family: "Lucida Console", monospace;
  color: white;
  font-weight: normal;
  margin-bottom: .5em;
  

  }

#left h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: .7em;
  font-weight: normal;
  margin-top: 0.1em;
  margin-left: 15%;
  margin-right: 15%;
  position: middle;
  word-wrap: break-word;

  }

h1 { 
    display: block;
    font-size: 1.3em;
    font-family: "Courier New", Courier, monospace;
    margin-top: 0.4em;
    margin-bottom: 0.67em;
    margin-left: 30px;
    margin-right: 0;
    font-weight: normal;
    text-align: left; 
    color: white;

}
h2 { 
    display: block;
    font-size: 1em;
    font-family: "Andale Mono", monospace; 
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: yellow;
}

#right #titulo {
        border: 1px #b0c4de;
        background-color: rgba(252, 72, 25, .8); 
        width: 100%;
        position: fixed;
        margin-top: 0;
        margin-bottom: 10%;
        text-align: left;
        z-index: 4;
      
    }

#right #big_wrapper { 
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: gray;
    padding: 10px
  }



#right #big_wrapper #textintro { 
    margin-top: auto;
    margin-left: auto;
  }

    #right #big_wrapper #text_intro{ 
    border: 0px solid black;
    width: auto;
    margin: 20px auto;
    margin-left: 10px;
    text-align: left;
    padding: 20px;
    border-radius: 25px;
    height: auto;
  }

  #right  #ex1 {
      background-color: rgba(20, 20, 20, .7);
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      width: 50% auto;
      height: auto;
}



#left nav.vertical {
  border-radius: 0px;
  box-shadow: 0 0 0px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: left;
  display: inline-block; 
  width: 100%; 
  margin-top: 30px;
  margin-left: 50px;
  padding: 0px;
  float: left;
}

#left nav.vertical > ul {
    list-style-type: none;
  }

#left nav.vertical > ul > li {
      display: block;
    }

#left nav.vertical > ul > li > a {
  background-image: -webkit-linear-gradient(150deg, rgba(20, 20, 20, .3), rgba(20, 20, 20, .3));

  border-bottom: 1px solid rgba(255,255,255,.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
  color: rgba(255,255,255, .6);
  display: block;
  font-size: .85rem;
  font-weight: 500;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: .5rem;
  padding-left: 10px;
  line-height: 50px;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  text-transform: uppercase;
  transition: all .1s ease;
  text-decoration: none;
}

#left nav.vertical > ul > li > a:hover {
    background-color: rgb(114, 51, 98);
    background-image: -webkit-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -moz-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: -o-linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8));
    background-image: linear-gradient(150deg, rgba(252, 72, 25, .8), rgba(252, 72, 25, .8)); 
    cursor: default;
  }

 
#right #big_wrapper #horizontal ul{
  {
    float: left;
    width: 100%;
    padding: 0;
    margin: 10px;
    list-style-type: none; 
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0,0,0,.15);
    overflow: hidden;
    text-align: center;
    display: inline-block; 
    width: 100%; 
    margin-top: 30px;
    margin-left: 50px;
    padding: 0px;
    float: left;
}

}
#right #big_wrapper #horizontal a {
    float: left;
    width: 8em;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    background-color: rgba(20, 20, 20, .3);
    text-align: center;
    padding: 0.2em 0.6em;
    box-shadow: 0 0 0px rgba(0,0,0,.15);
    font-size: .85rem;


    
}

#right #big_wrapper #horizontal a:hover{
  background-color: rgba(252, 72, 25, .8);
}
#right #big_wrapper #horizontal li{
  display:inline;
}

#right #mapc {
margin-top: 45px;
  }


#footer_wrap {bottom:0; position:fixed; background-color: white; width: 20%;}
#footer_wrap #footer { float: right; margin-top:10px;}
#footer_wrap #footer ul { padding:5px; margin:0 0 0 1px; float:right; width:100%;}
#footer_wrap #footer li {float:right; list-style:none; display: table-cell; width: 35px; text-align: center;}











